<!DOCTYPE html>
{% load static %}
<head>
    <title>Add Note</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="/lab-4">Home</a>
        <a class="active" href="add-note">Add Note</a>
        <a href="note-list">Note List</a>
    </div>

    
    <div style="padding-top: 70px; width: 400px; margin: auto;">
        <div class="noteFormAdd">
            <form action="" method="POST">
                {% csrf_token %}
    
                <div class="formField" style="display: block;">
                    <div style="width: 18%; float: left;">
                        <label for="title">Title</label>
                    </div>
                    <div style="width: 82%; float: right;">
                        <input id="title" type="text" name="title" maxlength="30" placeholder="Note Title" required>
                    </div>
                </div>
    
                <div class="formField" style="display: block;">
                    <div style="width: 18%; float: left;">
                        <label for="From">From</label>
                    </div>
                    <div style="width: 82%; float: right;">
                        <input id="From" type="text" name="From" maxlength="30" placeholder="Sender" required>
                    </div>
                </div>
    
                <div class="formField" style="display: block;">
                    <div style="width: 18%; float: left;">
                        <label for="to">To</label>
                    </div>
                    <div style="width: 82%; float: right;">
                        <input id="to" type="text" name="to" maxlength="30" placeholder="Receiver" required>
                    </div>
                </div>
    
                <div class="formField" style="display: block;">
                    <div style="width: 18%; float: left;">
                        <label for="message">Message</label>
                    </div>
                    <div style="width: 82%; float: right;">
                        <input id="message" type="text" name="message" maxlength="30" placeholder="Message" required>
                    </div>
                </div>
    
                <div class="center">
                    <input type="submit" value="submit"> 
                </div>
            </form>
        </div>
    </div>
</body>