<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Note Cards</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <div class="navbar">
            <a href>
            <a href="/lab-4">Home</a>
            <a href="add-note">Add Note</a>
            <a class="active" href="note-list">Note List</a>
        </div>



        <div>
        {% for catatan in note %}
            <div class="card">
                <div class="card-body">
                    <p class="card-title">{{ catatan.title }}</p>

                    <div style="display: block;">
                        <div style="width: 14%; float: left;">
                            <div>From:</div>
                        </div>
                        <div style="width: 86%; float: right;">
                            <div style="float: left">{{ catatan.From }}</div>
                        </div>
                    </div>

                    <div style="display: block;">
                        <div style="width: 14%; float: left;">
                            <div>To:</div>
                        </div>
                        <div style="width: 86%; float: right;">
                            <div style="float: left">{{ catatan.to }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-top: 30px">
                        Message:
                        <div style="padding-left:10px; padding-right: 10px; padding-bottom: 10px; padding-top: 2px;">
                            {{ catatan.message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div id="banner">
                <div style="margin: auto; width: 65%;">
                    <label style="color: #4ab5a9;">Credits to Destiny Child</label>
                </div>
                <div class="thisbe"></div>
            </div>
        </div>
    </body>
</html>