<!DOCTYPE html>
{% load static %}
<html lang="en" style="background: none;">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body class="tables">
    <div style="display: inline-block;">
      <div class="navbar">
        <a class="active" href="/lab-4">Home</a>
        <a href="add-note">Add Note</a>
        <a href="note-list">Note List</a>
      </div>


      
      <table>
        <tr>
          <th>Title</th>
          <th>From</th>
          <th>To</th>
          <th>Message</th>
        </tr>
          {% if note %} 
          {% for catatan in note %}
            <tr>
                <td>{{ catatan.title }}</td>
                <td>{{ catatan.From }}</td>
                <td>{{ catatan.to }}</td>
                <td>{{ catatan.message }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
  </body>
</html>