<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Friend List</title>

  <style>
    table {
      border-collapse: collapse;
      width: 50%;
      margin: auto;
    }

    td {
      border: 0.5px solid black;
    }

    table,
    th {
      border: 1.5px solid black;
    }

    body {
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }
  </style>
  <title>Friend List</title>
</head>

<body>
  <table>
    <tr>
      <th>Name</th>
      <th>NPM</th>
      <th>DOB</th>
    </tr>
    {% if friends %}
    {% for friend in friends %}
    <tr>
      <td>{{ friend.name }}</td>
      <td>{{ friend.npm }}</td>
      <td>{{ friend.DOB }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
</body>

</html>