<!DOCTYPE html>
<head>
    <style>
        input[type=submit] {
            width: 100%;
            background-color: #795194;
            color: #e3e3e3;
            padding: 14px 10px;
            border-radius: 16px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #94518d;
        }

        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }
        
        div {
            width: 350px;
            padding: 10px;
            background-color: #f2f2f2;
            transition: width 4s;
        }

        .center {
            margin: auto;
            width: 60%;
        }

        .friendFormAdd {
            margin: auto;
        }

        .friendFormInput {

        }

        input[type='text'] {}
        
    </style>
    <title>Add Friend</title>
</head>
<body>
    <div class="friendFormAdd">
        <form action="" method="POST">
            {% csrf_token %}
            {{friendForm.as_p}}
            <div class="center">
                <input type="submit" value="submit"> 
            </div>
        </form>
    </div>
</body>