<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        table, th, td{
            border: 1px solid black;
        }

        body {
            font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
        }
    </style>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>From</th>
        <th>To</th>
        <th>Message</th>
      </tr>
        {% if note %} 
		    {% for catatan in note %}
          <tr>
              <td>{{ catatan.title }}</td>
              <td>{{ catatan.From }}</td>
              <td>{{ catatan.to }}</td>
              <td>{{ catatan.message }}</td>
          </tr>
		    {% endfor %}
	    {% endif %}
    </table>
  </body>
</html>
