div {
    overflow-wrap: break-word;
}

.card {
    border-radius: 18px;
    background-color: rgba(253, 235, 205, 0.904);
    width: 30rem;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.2);
}

.card-title {
    font-size: 18px;
}

.card:not(:last-child) {
    margin-right: 14px;
}



.thisbe {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/thisbe.png) center top no-repeat;
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    z-index: 2;
}

.thisbe:hover {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/thisbe.gif) center top no-repeat;
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    z-index: 2;
}

#banner {
    position: fixed;
    right: 20px;
    width: 300px;
    height: 320px;
    cursor: pointer;
    z-index: 50;
    display: block;
    bottom: 0px;
}

input[type=submit] {
    width: 100%;
    background-color: whitesmoke;
    padding: 14px 10px;
    border-radius: 20px;
    border: 2px solid #8a4aa3;
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: #8a4aa3;
    color: whitesmoke;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.noteFormAdd {
    width: 400px;
    padding: 10px;
    background-color: rgba(253, 235, 205, 0.904);
    border-radius: 10px;
    font-size: 16px;
}

.center {
    margin: auto;
    width: 60%;
}

input[type=text] {
    background-color: whitesmoke;
}

input[type=text]:focus {
    border: 2px solid rgb(37, 37, 37);
}

.formField {
    padding-bottom: 25px;
}

table {
    border-collapse: collapse;
    width: 1200px;
    margin: auto;
    table-layout: fixed;
    overflow-wrap: break-word;
    text-align: justify;
}

td {
    border: 0.5px solid black;
    vertical-align: top;
}

table, th {
    border: 1.5px solid black;
}

th {
    background-color: beige;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #a266ba ;
    float: left;
    margin-bottom: 10px;
}

.navbar a {
    color: black;
    float: left;
    font-size: 16px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}
.navbar a.active {
    background-color: #63a34a;
}

.navbar a:hover {
    background-color: #8a4aa3;
}

html {
    font-family: Arial,Helvetica,sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../img/gradient.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (max-width: 500px) {
    html {
        background: red;
    }
}